/* .blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  } */
  /* .blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  } */
  /* .blockquote {
    display: inline;
    text-align: center;
    color: white;
  } */

  .grid-container-display {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
    /* background-color: rgb(255, 255, 255); */
    margin-top: 10px;
    grid-gap: 3px;
  }


  .mb-wrap {
    margin : 20px auto; 
    padding : 20px; 
    position : relative; 
    width : 300px; 
  } 
  
  .mb-wrap p {
    margin : 0; 
    padding : 0; 
  }
  
  .mb-wrap blockquote {
    margin : 0; 
    padding : 0; 
    position : relative; 
  } 
  
  .mb-wrap cite {
    font-style : normal; 
  } 
  
  .mb-style-2 blockquote {
    padding-top : 150px; 
  } 
  
  .mb-style-2 blockquote:after {
      background: none repeat scroll 0 0 rgba(75, 83, 96, 0.585);
      border-radius: 50% 50% 50% 50%;
      color: rgba(255, 255, 255, 0.5);
      content: "❞";
      font-family: 'icons';
      font-size: 70px;
      height: 130px;
      left: 50%;
      line-height: 130px;
      margin-left: -65px;
      position: absolute;
      text-align: center;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
      top: 0;
      width: 130px;
  }
  .mb-style-2 blockquote:before {
      border-left: 5px solid rgba(255, 255, 255, 0.797);
      border-radius: 50% 50% 50% 50%;
      content: "";
      height: 500px;
      left: -50px;
      position: absolute;
      top: 0;
      width: 500px;
      z-index: -1;
  }
  
  .mb-style-2 blockquote p {
    background : none repeat scroll 0 0 rgba(247, 247, 247, 0.674); 
    box-shadow : 0 -6px 0 rgba(82, 80, 80, 0.605); 
    color : rgb(11, 11, 11); 
    display : inline; 
    font-family : Baskerville, Georgia, serif; 
    font-style : italic; 
    font-size : 35px; 
    line-height : 46px; 
    text-shadow : 0 1px 1px rgba(86, 82, 82, 0.893);  
  } 
  
  .mb-attribution {
    text-align : right; 
  } 
  
   .mb-author {
    color : rgb(96, 99, 179); 
    font-size : 18px; 
    font-weight : bold; 
    padding-top : 10px; 
    text-shadow : 0 4px 1px rgba(191, 187, 187, 0.1); 
    text-transform : uppercase; 

  }  