.login {
    /* background-image: url('./green.jpg'); */
    /* background-color: black; */

    background-size: cover;
    /* height: 100px;
    width: 100px; */
    display: grid;
    grid-template-columns: auto;
    /* opacity: 0.5; */
}

.loginPage {
    color: white;

}

#login{
    color: aliceblue;
}

#registerLink{
    color: yellow;
}

.loginForm {
    /* opacity: 0.5; */
    background: rgba(43, 43, 46, 0.575);
    background-size: cover;
}