.grid-container {
    display: grid;
    grid-template-columns: auto;
    /* padding: 10px; */
    /* background-color: rgb(255, 255, 255); */
    /* margin: 40px; */
    width: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

.grid-item{
    /* background-color: rgb(152, 205, 248); */
    width: 500px;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 20px;
    text-align: left;
}

.grid-item-footer{
    width: auto;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 20px;
    text-align: left;
}

.grid-item-2 {
    width: auto;
}

.addNew {
    width: 100%;
}

.center{
    margin: auto;
    width: 50%;
}

.centerContent{
    margin: auto;
    width: 60%;
    /* padding: 5px; */
}

.detailHead{
    text-align: center;
}

.submitButton{
    width: 200px;
}

.newFormation{
    width: auto;
    height: auto;
}

.selectStructure{
    width: 200px;
}