.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
    background-color: rgb(255, 255, 255)
}

ul {
    padding: 0;
    list-style-type: none;
}

.grid-item{
    /* background-color: rgb(152, 205, 248); */
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* padding: 20px; */
    font-size: 20px;
    text-align: left;
}

.grid-item-footer{
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* padding: 20px; */
    font-size: 20px;
    text-align: left;
}

#formationName{
    color: blue;
    background-color: beige;
    width: 350px;
    font-size: 5px;
}

#formationDetail{
    color: blue;
    width: 350px;
    font-size: 15px;   
    text-align: left;
}



.detailHead {
    color: blueviolet;
}
